{
	"semi": false,
	"trailingComma": "none",
	"singleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"tabWidth": 4,
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"singleAttributePerLine": false,
	"jsxSingleQuote": true,
	"printWidth": 120
}
